In [1]:
import pandas as pd

In [5]:
# Load the Risk Register file
df = pd.read_excel("/media/sf_Shared_docs/Risk_Register_2025.xlsx")

# Display the table
df

,Risk ID,Risk Description,Likelihood (1-5),Impact (1-5),Risk Appetite,Risk Tolerance,Status
0,R1,Data breach in HR system,4,5,12,15,High
1,R2,Vendor system outage,3,4,12,15,Medium
2,R3,Insider threat,2,5,12,15,Medium
3,R4,Phishing attack,5,3,12,15,High
4,R5,Financial reporting error,2,4,12,15,Low
5,R6,Cloud service misconfig,4,4,12,15,High

In [6]:
# Calculate Risk Score
df["Risk Score"] = df["Likelihood (1-5)"] * df["Impact (1-5)"]

# Display updated table
display(df)

,Risk ID,Risk Description,Likelihood (1-5),Impact (1-5),Risk Appetite,Risk Tolerance,Status,Risk Score
0,R1,Data breach in HR system,4,5,12,15,High,20
1,R2,Vendor system outage,3,4,12,15,Medium,12
2,R3,Insider threat,2,5,12,15,Medium,10
3,R4,Phishing attack,5,3,12,15,High,15
4,R5,Financial reporting error,2,4,12,15,Low,8
5,R6,Cloud service misconfig,4,4,12,15,High,16

In [9]:
# Filtering Risks by Status
df_high = df[df["Status"] == "High"]
df_medium = df[df["Status"] == "Meduim"]
df_low = df[df["Status"] == "Low"]

# Display results
print("\nHigh Risks:")
display(df_high)

print("\nMedium Risks")
display(df_medium)

print("\nLow Risks:")
display(df_low)

High Risks:

,Risk ID,Risk Description,Likelihood (1-5),Impact (1-5),Risk Appetite,Risk Tolerance,Status,Risk Score
0,R1,Data breach in HR system,4,5,12,15,High,20
3,R4,Phishing attack,5,3,12,15,High,15
5,R6,Cloud service misconfig,4,4,12,15,High,16

Medium Risks

Empty DataFrame
Columns: [Risk ID, Risk Description, Likelihood (1-5), Impact (1-5), Risk Appetite, Risk Tolerance, Status, Risk Score]
Index: []

Low Risks:

,Risk ID,Risk Description,Likelihood (1-5),Impact (1-5),Risk Appetite,Risk Tolerance,Status,Risk Score
4,R5,Financial reporting error,2,4,12,15,Low,8

In [11]:
#Group by Status to count number of risks
grouped_status = df.groupby("Status")["Risk ID"].count()

# Display results
print("\nCount by Risks by Status:")
display(grouped_status)

Count by Risks by Status:

Status
High      3
Low       1
Medium    2
Name: Risk ID, dtype: int64

In [17]:
# Sum of Risk Scores by Status
total_risk = df.groupby("Status")["Risk Score"].sum()

# Avearage Risk Score by Status
avg_risk = df.groupby("Status")["Risk Score"].mean()

# Maximum Risk Score by Status
max_risk = df.groupby("Status")["Risk Score"].max()

# Minimum Risk Score by Status
min_risk = df.groupby("Status")["Risk Score"].min()

# Display results
print("\nTotal Risk Score by Status:")
display(total_risk)

print("\nAverage Risk Score by Status:")
display(avg_risk)

print("\nMaximum Risk Score by Status:")
display(max_risk)

print("\nMinimum Risk Score by Status:")
display(min_risk)

Total Risk Score by Status:

Status
High      51
Low        8
Medium    22
Name: Risk Score, dtype: int64

Average Risk Score by Status:

Status
High      17.0
Low        8.0
Medium    11.0
Name: Risk Score, dtype: float64

Maximum Risk Score by Status:

Status
High      20
Low        8
Medium    12
Name: Risk Score, dtype: int64

Minimum Risk Score by Status:

Status
High      15
Low        8
Medium    10
Name: Risk Score, dtype: int64